@media (max-width: 551px) {
    .container-botoes {
        width: 100%;
        display: flex;
        margin-top: 2rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .container-texto {
        padding: 50px;
        height: 380px;
    }
    .div-container {
        height: initial;
    }
    .container-botoes button{
        padding: 10px 60px;
    }
    span.span-copiado {
        border-radius: 16px 0px 41px 23px;
        margin-top: 25px;
        margin-left: -114px;
        animation: 0.5s copiar;
    }
}