@media (max-width: 551px) {
    .container-botoes {
        width: 100%;
        display: flex;
        margin-top: 2rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .div-copiar-texto{
        margin-right: -30px;
    }
    .container-texto {
        padding: 50px;
        height: 350px;
    }
    .div-container {
        height: initial;
    }
    .container-botoes button{
        padding: 10px 60px;
    }
    span.span-copiado {
        border-radius: 16px 0px 41px 23px;
        margin-top: 25px;
        margin-left: -114px;
        animation: 0.5s copiar;
    }
    .container-base-geral {
        display: flex;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }
    .container {
        padding: inherit;
    }
    .container-box-lateral{
        width: auto !important;
        margin-top: 2rem;
    }
    .card-dialogo {
        max-width: 310px !important;
        width: 310px !important;
    }
}