:root{
    --background-padrao-escuro: #343541;
    --background-padrao-html: #2c3e50;
    --background-padrao-claro: #d0d0d0;
    --bg-texto-padrao-escuro: #444654;
    --color-texto-padrao-escuro: #d1d5db;
    --bg-botao-padrao-escuro: black;
    --color-botao-padrao-escuro: #FFFF;
}